@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", "sans-serif";
  --color-lightGreen: #dad7cd;
  --color-greenPrimary: #283618;
  --color-greenSecondary: #588157;
}